.account {
  display: flex;
  align-items: center;

  & > .account-list {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;

    & > .account-item {
      margin: 0 0.5rem;
      position: relative;

      & > .account-link {
        display: inline-block;
        color: $style-white;
        width: max-content;
        padding: 0.5rem 0.75rem;
      }

      & > .account-user {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $style-white;

        & > img {
          @include circle(40px);
        }
      }

      & > .account-link.account-white {
        background-color: $style-white;
        color: $announce-icon;
        padding: 0.25rem 0.5rem;

        &:hover {
          background-color: $style-white;
          color: $announce-icon;
          padding: 0.25rem 0.5rem;
        }
      }

      & > .lock {
        background-color: $style-special;

        &:hover {
          background-color: $style-special-dark;
        }
      }

      & > .user-actions {
        position: absolute;
        left: 0;       
        width: 100%;
        display: block;
        z-index: 2;
        margin-top: .5rem;
        background-color: $user-actions;
        padding: .5rem 0;
        min-width: 10rem;
        font-size: .9rem;
        border-radius: 1px;
        display: none;

        & > .user-action-item {
         

          & > .user-action {
            display: block;
            color: $user-action-text;
            padding: .3rem 1rem;
            text-align: left;

            &:hover{
              background-color: $new-movie;
              color: $style-white;
            }
          }

          hr{
            margin: 0;
            color: $style-white;
          }
        }
      }
    }
  }
}
