.account {
    display: flex;
    align-items: center;

    & > .account-list {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0;

      & > .account-item {
        margin: 0 0.5rem;

        & > .account-link {
          display: inline-block;
          color: $style-white;
          width: max-content;
          padding: 0.5rem 0.75rem;
        }

        & > .account-link.account-white{
            background-color: $style-white;
            color: $announce-icon;
            padding: 0.25rem 0.5rem;

            &:hover{
                background-color: $style-white;
            color: $announce-icon;
            padding: 0.25rem 0.5rem;
            }
        }

        & > .lock {
          background-color: $style-special;
         

          &:hover {
            background-color: $style-special-dark;
          }
        }
      }
    }
  }