$back-shadow: #212529;
$back-shadow-hover: #1c1f23;
$new-movie: rgba(255,255,255,.1);
$new-movie-hover: rgba(255,255,255,.05);
$style-special: #dc3545;
$style-special-hover: #ff675b;
$style-special-dark: #bb2d3b;
$style-white: #fff;
$background: #191d20;
$movie-single: #383b3f;
$announce: #7a2933;
$spoiler-color: #dc354580;
$background-cast:#3b4348;
$background-page: #4d5154;
$serie-icon: #21744f;
$rate:#ffc107;
$category: #0dcaf0;
$sub-text: #ffffff80;
$announce-icon:#000;
$movie-order:#6c757d;
$movie-order-hover:#5c636a;
$footer-about:#212629;
$user-actions:#343a40;
$user-action-text:#dee2e6;
$inform: #ff0000;
$rules: #00ff99;
