$back-shadow: #212529;
$style-special: #dc3545;
$style-special-hover: #ff675b;
$style-special-dark: #bb2d3b;
$style-white: #fff;
$background: #191d20;
$movie-single: #383b3f;
$announce: #7a2933;
$spoiler-color: #dc354580;
$background-cast:#3b4348;
$background-page: #4d5154;
$serie-icon: #21744f;
$rate:#ffc107;
$category: #0dcaf0;
$sub-text: #ffffff80;
$announce-icon:#000;
