.comments-box {
  padding: 1rem;

  .comment-card {
    display: flex;
    margin: 2.5rem 0;
    position: relative;
    & > .comment-image {
      img {
        @include circle(50px);
      }
    }
    & > .comment-body {
      width: 100%;
      margin: 0 1rem;
      & > .userdate {
        display: flex;
        justify-content: space-between;

        & > .user {
          color: $style-white;
          margin: 0;
        }
        & > .date {
          color: $style-white;
          margin: 0;
          font-size: smaller;
        }
      }

      & > .commentAndEvents {
        & > .comment {
          color: $sub-text;
          margin-bottom: 0.25rem;
        }

        &:not(.spoiler) > .comment-events {
          & > .like {
            color: $style-white;
            font-weight: 700;
            &:hover {
              color: $style-special-hover;
            }

            &.liked {
              color: $style-special;
            }
          }
          & > .share {
            color: $sub-text;

            i {
              transform: rotateY(180deg);
            }

            &:hover {
              color: $style-special-hover !important;
            }
          }

          & > .remove {
            color: $sub-text;            

            &:hover {
              color: $style-special-hover !important;
            }
          }

          &:hover {
            & > .share {
              color: $style-white;
            }
          }
        }

        &.spoiler {
          filter: blur(7px);
          
          *{
            cursor: default;
          }

          .like {
            color: $style-white;
            font-weight: 700;
            
            &.liked {
              color: $style-special;
            }
          }
          .share,.remove {
            color: $sub-text;
           

            i {
              transform: rotateY(180deg);
            }           
          }
        }
      }
    }

    & > .spoiler-box {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 1rem;
      background-color: $announce;
      border: 1px solid $style-special;
      opacity: 0.4;

      & > a {
        display: block;
        color: $style-white;
        padding: 1rem;
      }
    }  
  }
}
