@mixin circle($size, $bg-color:none, $color: none) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $size;
  height: $size;
  background-color: $bg-color;
  border-radius: 50%;
  color: $color;
}
