.movie-rating {
  display: flex;
  & > .rating-icon {
    color: $style-special;
    font-size: 3rem;
    font-weight: 700;
  }
  & > .rating {
    color: $style-white;
    margin: 0 1rem;

    & > .current-rating {
      font-size: 1.5rem;
      font-weight: 700;
      color: $style-white;
      margin-bottom: 0;

      & > .maximum {
        color: $sub-text;
      }
    }
    & > .votes {
      color: $sub-text;
      font-size: small;
      font-weight: 500;
    }
  }
}

.rate-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 0;
  margin: 0 2rem 0 1rem;
  & > .rate-item {
    margin: 0 0.2rem;

    & > input {
      display: none;
    }
    & > .rate {
      color: $new-movie;
      font-size: 1.5rem;
      cursor: pointer;     
    }

    & > .active {
      color: $style-special !important;   
    }
  }
}
