* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.owl-carousel {
  margin: 0;
  .owl-item {
    margin: 0 !important;
  }
}

.owl-nav {
  & > .owl-prev {
    font-size: 3rem;
    color: red;
    background-color: blue;
  }
}

.bg-shadow{
  background-color: $back-shadow;
}

.text-rules{
  color: $rules;
}

.text-inform{
  color: $inform;
}

#filter-visible{
  display: none;
}

body{
  background-color: $background;

  
&::-webkit-scrollbar {
  width: 20px;
}

&::-webkit-scrollbar-track{
  background-color: aqua;
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

&::-webkit-scrollbar-thumb{
  background-color: red;

  &:hover{
    background-color: black;
  }
}
}
