@import "color";
@import "reset";
@import "mixin";
@import "rating";
@import "social";
@import "account-list";
@import "commentary";
@import "comments";

header {
  .hdf-header {
    border-bottom: 3px solid $style-special;
    .short-hdf-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu-bar {
        color: $sub-text;
        font-size: xx-large;
      }

      .filter {
        color: $sub-text;
        font-size: xx-large;
      }
    }

    background-color: $back-shadow;
    .hdf-menu {
      display: flex;
      align-items: center;

      & > .hdf-menu-list {
        display: flex;
        align-items: center;
        margin: 0;
        & > .hdf-menu-home {
          padding-bottom: .5rem;
          & > .hdf-menu-home-link {
            @include circle(40px, $style-special, $style-white);

            i {
              font-size: 1rem;
            }
          }
        }
        & > .hdf-menu-item {
          position: relative;
          padding-bottom: .5rem;
          margin: 0 .5rem;
          & > .year-list {
            position: absolute;
            left: 0;
            width: 100%;
            display: block;
            z-index: 2;
            margin-top: 0.5rem;
            background-color: $user-actions;
            padding: 0.5rem 0;
            min-width: 10rem;
            font-size: 0.9rem;
            border-radius: 1px;
            display: none;

            & > .year-item {
              & > .year-link {
                display: block;
                color: $user-action-text;
                padding: 0.3rem 1rem;
                text-align: left;

                &:hover {
                  background-color: $new-movie;
                  color: $style-white;
                }
              }

              hr {
                margin: 0;
                color: $style-white;
              }
            }
          }
          .hdf-menu-item-link {
            color: $style-white;
            font-weight: 600;
            margin: 0 0.5rem;
            padding: 1rem 0;
          }
          &.active{
            
            border-bottom: 3px solid $style-special;
          }

          &:hover {
            .year-list {
              display: block;
            }
          }
        }
      }
    }

    .hdf-short-menu {
      display: none;
      & > .hdf-menu-list {
        text-align: center;
        padding: 0;
        & > .hdf-menu-home {
          & > .hdf-menu-home-link {
            @include circle(40px, $style-special, $style-white);

            i {
              font-size: 1rem;
            }
          }
        }
        & > .hdf-menu-item {
          position: relative;
          .hdf-menu-item-link {
            display: block;
            color: $style-white;
            font-weight: 600;
            margin: 1rem 0.5rem;
          }

          & > .year-list {
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: 0;
            display: block;
            z-index: 2;
            margin: 1.5rem 0.5rem;
            background-color: $user-actions;
            padding: 0.5rem 0;
            min-width: 10rem;
            font-size: 0.9rem;
            border-radius: 1px;
            display: none;

            & > .year-item {
              & > .year-link {
                display: block;
                color: $user-action-text;
                padding: 0.3rem 1rem;
                text-align: left;

                &:hover {
                  background-color: $new-movie;
                  color: $style-white;
                }
              }

              hr {
                margin: 0;
                color: $style-white;
              }
            }
          }

          &:hover {
            .year-list {
              display: block;
            }
          }
        }
      }

      & > .account {
        display: flex;
        flex-direction: column;

        & > .account-list {
          display: flex;
          justify-content: center;
          padding: 1rem;
        }
      }
    }
  }
}

main {
  background-color: $background;
  #upcoming-movies {
    .row {
      .upcoming {
        background-color: $back-shadow;
        .upcoming-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          .upcoming-image {
            @include circle(160px);
            border: 3px solid $style-special;
            position: relative;

            img {
              @include circle(140px);
              overflow: hidden;
            }

            .upcoming-date {
              position: absolute;
              bottom: 0;
              background-color: $style-special;
              color: $style-white;
              font-size: small;
              margin: 0;
              padding: 0.2rem;
              transform: translateY(25%);
            }
          }
          .upcoming-link {
            color: $style-white;
            transition: color 0.4s;
            margin: 0.5rem 0;
          }

          &:hover {
            .upcoming-link {
              color: $style-special-hover;
            }
          }
        }
      }
    }
  }
  #latest-movies {
    padding: 0;
  }
  .hdf-heading {
    display: flex;
    justify-content: space-between;

    & > .hdf-heading-title {
      color: $style-white;
      font-weight: 600;
      margin: 0;
      padding: 0.5rem 1rem;
      min-width: max-content;
      background-color: $back-shadow;

      i {
        color: $sub-text;
      }
    }

    & > .hdf-heading-link {
      color: $sub-text;
      font-weight: 600;
      margin: 0;
      padding: 0.5rem 1rem;
      min-width: max-content;
      border: 1px solid transparent;
      text-transform: capitalize;

      &.hdf-heading-active{
        background-color: $announce;
        border: 1px solid $style-special;
        color: $style-white;
      }

      &:hover {
        border-color: $back-shadow;
      }
    }

    & > .hdf-heading-icon {
      width: 100%;
      text-align: end;
      border-bottom: 1px solid $background-page;
    }
    & > .hdf-heading-rate {
      color: $rate;
    }

    & > .hdf-heading-category {
      color: $category;
    }

    & > .hdf-heading-special {
      color: $style-special;
    }

    .hdf-link {
      color: $style-white;
      width: 100%;
      font-weight: 600;
      transition: color 0.3s;
      border-bottom: 1px solid $background-page;
      text-align: end;

      &:hover {
        color: $style-special-hover;
      }
    }
  }
  .latest-movies {
    position: relative;
    display: block;
    transition: 0.3s;
    height: 100%;

    & > img {
      opacity: 0.8;
      height: 370px;
    }

    & > img.micro {
      opacity: 0.8;
      height: 250px;
      width: 175px;
    }

    .details {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: $style-white;

      p {
        font-size: small;
        font-weight: 600;
        margin: 0;
      }

      .rate {
        color: $rate;
      }

      .year {
        transition: color 0.3s;
      }

      .annotation {
        display: none;

        .caption {
          text-align: center;
          padding: 0.5rem;
          height: 250px;
          overflow-y: hidden;
        }

        .genres {
          display: flex;
          justify-content: center;
          .category {
            font-size: x-small;
            font-weight: 700;
            background-color: $back-shadow;
            padding: 0.4rem 0.5rem;
            border-radius: 10%;
            margin: 0 0.2rem;
          }
        }
      }

      img {
        width: 25px !important;
        height: 25px !important;
      }
    }

    &:hover {
      & > img {
        opacity: 0.4;
        filter: blur(4px);
      }
      .details {
        .year {
          color: $style-special-hover;
        }

        .annotation {
          display: block;
        }
      }
    }
  }

  .announce {
    background-color: $announce;
    color: $style-white;
    border-radius: 5px;
    padding: 1rem;

    &--btns {
      text-align: center;
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #9b5f66;
      border-bottom: 1px solid #9b5f66;
      padding: 1rem 0;

      & > .announce--btn {
        background-color: $style-white;
        color: $announce-icon;
        text-transform: uppercase;
        font-size: small;
        padding: 0.5rem 1rem;
        border-radius: 50rem;
        margin: 0.5rem 0;
      }
    }
  }
  .movie-categorize {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    a {
      text-align: center;
      color: $style-white;
      border-radius: 1rem;
      padding: 0.5rem 0;
      transition: 0.4s;
      margin: 0.2rem 0;
      font-weight: 700;
    }
    & > .movie-robot {
      background-color: $style-special;

      &:hover {
        background-color: $style-special-dark;
      }
    }
    & > .movie-order {
      color: $movie-order;
      border: 1px solid $movie-order;

      &:hover {
        background-color: $movie-order;
        color: $style-white;
      }
    }
    & > .movie-look {
      background-color: $back-shadow;

      &:hover {
        background-color: $back-shadow-hover;
      }
    }
  }

  #newMovie {
    background-color: $back-shadow;
  }

  .newMovieCard {
    display: flex;
    background: $new-movie;
    padding: 0.5rem;
    border-top-left-radius: 50rem;
    border-bottom-left-radius: 50rem;
    border-top-right-radius: 10rem;
    border-bottom-right-radius: 10rem;
    margin: 0.5rem 0;

    & > .newMovieCard-image {
      & > img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
    & > .newMovieCard-body {
      padding-left: 1rem;
      width: 100%;

      & > .newMovieCard-title {
        color: $style-white;
        font-size: medium;
      }

      & > .newMovieCard-caption {
        display: flex;
        justify-content: space-between;

        & > .subtitle {
          color: $sub-text;
          font-size: smaller;

          & > img {
            width: 25px;
            height: 25px;
            margin-right: 0.5rem;
          }
        }

        & > .subtitle-icon {
          color: $sub-text;

          img {
            width: 25px;
            height: 25px;
          }
        }

        & > .subtitle-serie {
          i {
            color: $serie-icon;
          }
        }
        & > .imdb {
          color: $rate;
          font-size: smaller;
        }
      }
    }
    &:not(.newMovieCard-active):hover {
      background: $new-movie-hover;
    }
  }

  .newMovieCard-pill {
    border-radius: 50rem;
  }

  .newMovieCard-active{
    background-color: $announce;
    color: $style-white;
    border: 1px solid $style-special;
  }

  .movies-for-languages {
    display: flex;
    flex-direction: column;
    a {
      color: $style-white;
      padding: 0.5rem 1rem;
      font-size: medium;
      background-color: $back-shadow;

      img {
        width: 20px;
        height: 20px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }

  .movies-for-category {
    color: $style-white;
    background-color: $back-shadow;
    padding: 0.5rem 1rem;
    padding-right: 0;

    &:hover {
      opacity: 0.7;
    }
  }

  .pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;

    & > .pagination-item {
      margin: 0 0.3rem;
      & > .pagination-circle {
        @include circle(40px, $background-page, $style-white);
      }

      .pagination-link {
        color: $style-white;
      }
    }

    & > .active {
      & > .pagination-link {
        background-color: $style-special;
      }
    }
  }

  .movie-details {
    background-color: $back-shadow;
    padding: 1rem;
    margin: 0;
    .movie-data {
      display: flex;
      flex-direction: column;

      & > .movie-text {
        color: $style-white;
      }

      & > .movie-reference {
        color: $style-special;
        font-weight: 700;
      }

      & > .movie-imdb {
        color: $rate;
      }
      & > .movie-table {
        & > .movie-row {
          color: $sub-text;
          margin: 1rem 0;

          & > .movie-badge {
            padding: 0.3rem;
            border-radius: 0.3rem;
            background-color: #ffffff40;
            color: $style-white;
            font-size: x-small;
            font-weight: 700;
            margin-left: 0.4rem;
          }

          & > a.movie-badge {
            &:hover {
              color: $style-special;
            }
          }

          .movie-pill {
            color: $style-white;
            background-color: $background-cast;
            border-radius: 50rem;
            padding-right: 1rem;
            margin: 0.5rem 0;
            display: inline-block;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }

            &:hover {
              color: $style-special;
            }
          }
        }
      }
    }
  }

  .registration-alert {
    display: flex;
    background-color: $announce;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    border: 1px solid #dc3545;
    border-radius: 0.5rem;

    & > .reg-text {
      color: $style-white;
    }
  }
}

footer {
  .about-us {
    background-color: $footer-about;
    padding: 2rem 1rem;
    position: relative;

    & > .about-title {
      color: $sub-text;
    }
    & > .about-text {
      color: $sub-text;
      font-size: small;
    }
    & > .read-btn {
      color: $sub-text;
      background-color: #14171a;
      padding: 0.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .footer {
    background-color: $background;
    padding: 1rem;

    & > .footer-text {
      color: $sub-text;
      font-size: small;

      a {
        color: $style-white;
      }
    }
  }

  .makeBlur {
    max-height: 200px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      top: 80%;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgb(38 35 35 / 80%);
      filter: blur(15px);
    }
  }
}

@media screen and (max-width: 992px) {
  body {
    .hdf-heading-title {
      font-size: smaller;
    }
  }
}
