@import "color";
@import "reset";
@import "mixin";

header {
  .hdf-header {
    background-color: $back-shadow;
    .hdf-menu {
      display: flex;
      align-items: center;
      //   justify-content: end;

      & > .hdf-menu-list {
        display: flex;
        align-items: center;
        margin: 0;
        & > .hdf-menu-home {
          & > .hdf-menu-home-link {
            @include circle(40px, $style-special, $style-white);

            i {
              font-size: 1rem;
            }
          }
        }
        & > .hdf-menu-item {
          .hdf-menu-item-link {
            color: $style-white;
            font-weight: 600;
            margin: 0 0.5rem;
          }
        }
      }
      .account {
        display: flex;
        align-items: center;

        & > .account-list {
          width: 100%;
          display: flex;
          align-items: center;
          margin: 0;

          & > .account-item {
            margin: 0 0.5rem;

            & > .account-link {
              display: inline-block;
              color: $style-white;
              width: max-content;
            }

            & > .lock {
              background-color: $style-special;
              padding: 0.5rem 0.75rem;

              &:hover {
                background-color: $style-special-dark;
              }
            }
          }
        }
      }
    }
  }
}

main {
  & > .container {
    & > .row {
      background-color: $background;

      #upcoming-movies {  
        .row {
          .upcoming {
            background-color: $back-shadow;
            .upcoming-card {
              display: flex;
              flex-direction: column;
              align-items: center;
              .upcoming-image {
                @include circle(160px);
                border: 3px solid $style-special;
                position: relative;

                img {
                  @include circle(140px);
                  overflow: hidden;
                }

                .upcoming-date {
                  position: absolute;
                  bottom: 0;
                  background-color: $style-special;
                  color: $style-white;
                  font-size: small;
                  margin: 0;
                  padding: 0.2rem;
                  transform: translateY(25%);
                }
              }
              .upcoming-link {
                color: $style-white;
                transition: color 0.4s;
                margin: 0.5rem 0;

                &:hover {
                  color: $style-special-hover;
                }
              }
            }
          }
        }
      }
      #latest-movies{
        border-top: 3px solid $style-special;
        padding: 0;
      }
      .hdf-heading {
        display: flex;
        justify-content: space-between;

        .hdf-heading-title {
          color: $style-white;
          font-weight: 600;
          margin: 0;
          padding: 0.5rem 1rem;
          min-width: max-content;
          background-color: $back-shadow;

          i {
            color: $sub-text;
          }
        }

        .hdf-link {
          color: $style-white;
          width: 100%;
          font-weight: 600;
          transition: color 0.3s;
          border-bottom: 1px solid $background-page;
          text-align: end;

          &:hover {
            color: $style-special-hover;
          }
        }
      }
      .latest-movies {
        position: relative;
        display: block;
        transition: 0.3s;
        height: 100%;

        & > img {
          opacity: 0.8;
          height: 370px;
        }

        .details {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          color: $style-white;

          p {
            font-size: small;
            font-weight: 600;
            margin: 0;
          }

          .rate {
            color: $rate;
          }

          .year {
            transition: color 0.3s;
          }

          .annotation {
            display: none;

            .caption {
              text-align: center;
              padding: .5rem;
              height: 250px;
              overflow-y: hidden;
            }

            .genres {
              display: flex;
              justify-content: center;
              .category {
                font-size: x-small;
                font-weight: 700;
                background-color: $back-shadow;
                padding: 0.4rem 0.5rem;
                border-radius: 10%;
                margin: 0 0.2rem;
              }
            }
          }

          img{
            width: 25px !important;
            height: 25px !important;
          }
        }

        &:hover {
          & > img {
            opacity: 0.4;
            filter: blur(4px);
          }
          .details {
            
            .year {
              color: $style-special-hover;
            }

            .annotation {
              display: block;
            }
          }
        }
      }
      .announce{
        background-color: $announce;
        color: $style-white;
        border-radius: 5px;
        padding: 1rem;
        &--caption{
          // display: flex;

        }
        &--btns{
          display: flex;
          justify-content: space-between;
          border-top: 1px solid #9b5f66;
          border-bottom: 1px solid #9b5f66;
          padding: 1rem 0;

          &> .announce--btn{
            background-color: $style-white;
            color: $announce-icon;
            text-transform: uppercase;
            font-size: small;
            padding: .5rem 1rem;
            border-radius: 50rem;

          }
        }
      }
    }
  }
}
