* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.owl-carousel {
  margin: 0;
}
.owl-carousel .owl-item {
  margin: 0 !important;
}

.owl-nav > .owl-prev {
  font-size: 3rem;
  color: red;
  background-color: blue;
}

header .hdf-header {
  background-color: #212529;
}
header .hdf-header .hdf-menu {
  display: flex;
  align-items: center;
}
header .hdf-header .hdf-menu > .hdf-menu-list {
  display: flex;
  align-items: center;
  margin: 0;
}
header .hdf-header .hdf-menu > .hdf-menu-list > .hdf-menu-home > .hdf-menu-home-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #dc3545;
  border-radius: 50%;
  color: #fff;
}
header .hdf-header .hdf-menu > .hdf-menu-list > .hdf-menu-home > .hdf-menu-home-link i {
  font-size: 1rem;
}
header .hdf-header .hdf-menu > .hdf-menu-list > .hdf-menu-item .hdf-menu-item-link {
  color: #fff;
  font-weight: 600;
  margin: 0 0.5rem;
}
header .hdf-header .hdf-menu .account {
  display: flex;
  align-items: center;
}
header .hdf-header .hdf-menu .account > .account-list {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}
header .hdf-header .hdf-menu .account > .account-list > .account-item {
  margin: 0 0.5rem;
}
header .hdf-header .hdf-menu .account > .account-list > .account-item > .account-link {
  display: inline-block;
  color: #fff;
  width: max-content;
}
header .hdf-header .hdf-menu .account > .account-list > .account-item > .lock {
  background-color: #dc3545;
  padding: 0.5rem 0.75rem;
}
header .hdf-header .hdf-menu .account > .account-list > .account-item > .lock:hover {
  background-color: #bb2d3b;
}

main > .container > .row {
  background-color: #191d20;
}
main > .container > .row #upcoming-movies .row .upcoming {
  background-color: #212529;
}
main > .container > .row #upcoming-movies .row .upcoming .upcoming-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > .container > .row #upcoming-movies .row .upcoming .upcoming-card .upcoming-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: none;
  border-radius: 50%;
  color: none;
  border: 3px solid #dc3545;
  position: relative;
}
main > .container > .row #upcoming-movies .row .upcoming .upcoming-card .upcoming-image img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  background-color: none;
  border-radius: 50%;
  color: none;
  overflow: hidden;
}
main > .container > .row #upcoming-movies .row .upcoming .upcoming-card .upcoming-image .upcoming-date {
  position: absolute;
  bottom: 0;
  background-color: #dc3545;
  color: #fff;
  font-size: small;
  margin: 0;
  padding: 0.2rem;
  transform: translateY(25%);
}
main > .container > .row #upcoming-movies .row .upcoming .upcoming-card .upcoming-link {
  color: #fff;
  transition: color 0.4s;
  margin: 0.5rem 0;
}
main > .container > .row #upcoming-movies .row .upcoming .upcoming-card .upcoming-link:hover {
  color: #ff675b;
}
main > .container > .row #latest-movies {
  border-top: 3px solid #dc3545;
  padding: 0;
}
main > .container > .row .hdf-heading {
  display: flex;
  justify-content: space-between;
}
main > .container > .row .hdf-heading .hdf-heading-title {
  color: #fff;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem 1rem;
  min-width: max-content;
  background-color: #212529;
}
main > .container > .row .hdf-heading .hdf-heading-title i {
  color: rgba(255, 255, 255, 0.5019607843);
}
main > .container > .row .hdf-heading .hdf-link {
  color: #fff;
  width: 100%;
  font-weight: 600;
  transition: color 0.3s;
  border-bottom: 1px solid #4d5154;
  text-align: end;
}
main > .container > .row .hdf-heading .hdf-link:hover {
  color: #ff675b;
}
main > .container > .row .latest-movies {
  position: relative;
  display: block;
  transition: 0.3s;
  height: 100%;
}
main > .container > .row .latest-movies > img {
  opacity: 0.8;
  height: 370px;
}
main > .container > .row .latest-movies .details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
}
main > .container > .row .latest-movies .details p {
  font-size: small;
  font-weight: 600;
  margin: 0;
}
main > .container > .row .latest-movies .details .rate {
  color: #ffc107;
}
main > .container > .row .latest-movies .details .year {
  transition: color 0.3s;
}
main > .container > .row .latest-movies .details .annotation {
  display: none;
}
main > .container > .row .latest-movies .details .annotation .caption {
  text-align: center;
  padding: 0.5rem;
  height: 250px;
  overflow-y: hidden;
}
main > .container > .row .latest-movies .details .annotation .genres {
  display: flex;
  justify-content: center;
}
main > .container > .row .latest-movies .details .annotation .genres .category {
  font-size: x-small;
  font-weight: 700;
  background-color: #212529;
  padding: 0.4rem 0.5rem;
  border-radius: 10%;
  margin: 0 0.2rem;
}
main > .container > .row .latest-movies .details img {
  width: 25px !important;
  height: 25px !important;
}
main > .container > .row .latest-movies:hover > img {
  opacity: 0.4;
  filter: blur(4px);
}
main > .container > .row .latest-movies:hover .details .year {
  color: #ff675b;
}
main > .container > .row .latest-movies:hover .details .annotation {
  display: block;
}/*# sourceMappingURL=style.css.map */